{% extends "base.html" %}

{% block title %}Amazon Kindle{% endblock %}

{% block page_content %}
<div class="page-header">
	<div class="container">
	    <div class="row">
	    	<div class="col-xm-3 col-md-2">
	    		<img src=" https://images-cn.ssl-images-amazon.com/images/I/51Fxpy9nQkL._SY346_.jpg" class="img-thumbnail" alt="Cinque Terre" width="128" height="173">
	    	</div>
	    	<div class="col-xm-3 col-md-2">
	    		<img src=" https://images-cn.ssl-images-amazon.com/images/I/51Fxpy9nQkL._SY346_.jpg" class="img-thumbnail" alt="Cinque Terre" width="128" height="173">
	    	</div>
	    	<div class="col-xm-3 col-md-2">
	    		<img src=" https://images-cn.ssl-images-amazon.com/images/I/51Fxpy9nQkL._SY346_.jpg" class="img-thumbnail" alt="Cinque Terre" width="128" height="173">
	    	</div>
	    	<div class="col-xm-3 col-md-2">
	    		<img src=" https://images-cn.ssl-images-amazon.com/images/I/51Fxpy9nQkL._SY346_.jpg" class="img-thumbnail" alt="Cinque Terre" width="128" height="173">
	    	</div>
	    	<div class="col-xm-3 col-md-2">
	    		<img src=" https://images-cn.ssl-images-amazon.com/images/I/51Fxpy9nQkL._SY346_.jpg" class="img-thumbnail" alt="Cinque Terre" width="128" height="173">
	    	</div>
	    	<div class="col-xm-3 col-md-2">
	    		<img src=" https://images-cn.ssl-images-amazon.com/images/I/51Fxpy9nQkL._SY346_.jpg" class="img-thumbnail" alt="Cinque Terre" width="128" height="173">
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}
