{% extends "base.html" %}

{% block title %}Amazon Kindle{% endblock %}

{% block page_content %}
<div class="page-body">
	<div class="container">
	<p class="muted">现亚马逊Kindle商城有{{ books|length }}本书在打特价。</p>
	    <div class="list-group">
	    	<div class="list-group-item">
	    		<dl class="dl-horizontal">
	    			{% for book in books %}
	    			<dt><img src="{{ book['image'] }}" class="img-thumbnail" alt="{{ book['title'] }}" width="125" height="175"></dt>
	    			<dd>
	    			<div class="row">
	    				<div class="col-md-12"><a href="https://www.amazon.cn{{ book['dp'] }}"><h4> {{ book['title'] }} </h4></a></div>
	    				<div class="col-md-4">作者：{{ book['author'] }}</div>
	    				<div class="col-md-8">评分：{{ book['score'] }}</div>
	    				<div class="col-md-2">原价：￥{{ book['oprice'] }}</div>
	    				<div class="col-md-2">现价：￥{{ book['price'] }}</div>
	    				<div class="col-md-8">折扣：{{ book['disct'] }}</div>
	    				<div class="col-md-4">历史最低价：￥{{ book['lprice'] }}</div>
	    				<div class="col-md-8">最低时间：{{ book['ldate'] }}</div>
	    			</div>
	    			</dd>
	    			{% endfor %}
	    		</dl>
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}

<footer class="footer">
	<div class="container">
		<span class="text-muted">Copyright ©2018 zhangyiw</span>
	</div>
</footer>